.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu-body {
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-end;

  list-style: none;
  align-items: center;
}

.menu-header {
  font-size: 22px;
  color: #1a535c;
  font-weight: bold;
}

.menu-header div {
  border: 0.9px solid #1a535c;
}

.menu-item {
  background: white;

  width: 140px;
  height: 140px;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-right: 20px;

  color: black;
  font-weight: bold;
  font-size: 13px;
  text-align: center;

  border-radius: 0.5rem;
  box-shadow: 0 2px 3px 1px #c9c9c9;
}

.menu-item img {
  border-radius: 0.5rem;
  border: 1px solid white;
  box-shadow: 0 1px 2px 1px white;
  width: 55px;
  height: 55px;
  margin-bottom: 7px;
}

.menu-item-name {
  width: 100%;
  padding: 0 5px;
  direction: rtl;
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
}

.menu-item-name p {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  direction: rtl;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 110px;
}

.menu-item-price {
  font-size: 8px;
  font-weight: lighter;
  margin: 6%;
  direction: rtl;
  color: #1a535c;
}

.star-icon {
  direction: rtl;
  display: flex;
  flex-flow: row nowrap;
}

.star-icon svg {
  width: 7px;
  height: 7px;
  margin-right: 3px;
}

.star-icon p {
  font-weight: lighter;
  font-size: 9px;
  color: #1a535c;
}
