.loading-page {
  width: 100%;
  height: 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 40px;
}
