.cart-container {
  display: flex;
  flex-flow: column nowrap;

  justify-content: flex-start;

  background: white;
  align-items: center;

  margin-top: 5%;
  margin-right: 5%;

  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 2px #c9c9c9;
}

.cart-header {
  font-size: 13px;
  font-weight: bold;
  margin-top: 7%;
}

.cart-body {
  padding: 5% 0 5%;

  background: white;
  width: 90%;
  margin-bottom: 10%;
  line-height: 30px;
  color: #1a535c;

  border-radius: 1.1rem;
  border: 2px dashed #e3e3e3;

  direction: rtl;
}

.cart-body p {
  display: inline;
  direction: rtl;
}

.cart-item {
  margin: 0% 10% 0;
  font-size: 13px;
  direction: rtl;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}

.cart-item-line {
  margin: 0 10%;
  border: 1px solid #bfbfbfbb;
}

.change-food-counter {
  direction: rtl;
  display: flex;
  flex-flow: column wrap;
}

.cart-counter {
  width: 52px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-price {
  font-size: 10px;
  direction: rtl;
  margin-top: -8px;
}

.total-amount-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  direction: rtl;
}

.total-amount {
  font-weight: bold;
  margin-right: 3%;
}

.total-amount-box button {
  margin-top: 5%;
}
