.restaurant-top {
    height: 160px;
    background: #ff6b6b;
}

.restaurant-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2%;
    color: black;
}

.restaurant-image {
    margin-top: -88px;

    width: 176px;
    height: 176px;

    border-radius: 1.1rem;
    border: 6px solid white;
    box-shadow: 0 1px 2px 1px #cbcbcb;
}