@import 'cart.css';
@import 'menu.css';
@import 'header.css';

.restaurant-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: space-between;
  background: #f7fff7;
}

.restaurant-header {
  background: #f7fff7;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.restaurant-body {
  background: #f7fff7;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 30px 0 20px;
}

.body-divider {
  background: #f7fff7;
  margin-right: 3%;
  margin-top: 5%;
  height: 85%;
  border-top: 2px dashed #f7fff7;
  border-bottom: 2px dashed #f7fff7;
  border-left: 2px dashed #f7fff7;
  border-right: 2px dashed #bfbfbf;
}

@media all {
  .menu-container {
    flex: 3 0px;
  }
  .navigation {
    order: 1;
  }
  .restaurant-top {
    order: 2;
  }
  .restaurant-logo {
    order: 3;
  }
  .menu-container {
    order: 4;
  }
  .body-divider {
    order: 5;
  }
  .cart-container {
    order: 6;
  }
  .footer {
    order: 7;
  }
}
