.factor-container {
  width: 455px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.factor-dialog {
  border-radius: 25px !important;
}

.factor-restaurant-name {
  font-size: 1.4rem;
  color: rgb(65, 65, 65);
}

.factor-restaurant-splitter {
  width: 60%;
  margin-top: 15px;
  border-bottom: 1px solid #70707088;
}

.factor-table {
  margin-top: 15px;
  width: calc(100% - 40px);
  border: 1px solid #dadada;
  border-collapse: collapse;
}

.factor-table th {
  border: 1px solid #dadada;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  font-size: 0.8rem;
}

.factor-table td {
  border: 1px solid #dadada;
  border-collapse: collapse;
  padding: 9px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.factor-table th {
  background: #ebebeb;
  color: #989898;
}

.factor-table td {
  background: white;
  color: #505050;
}

.factor-total-price {
  width: 100%;
  font-weight: bold;
  text-align: left;
  margin: 20px 0 10px;
  padding-left: 20px;
}
