.party-card {
  width: 125px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px rgba(75, 75, 75, 0.411);
  background: white;
  padding: 8px 8px 0;
  margin-right: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.party-card-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.party-card-title {
  flex: 1;
  margin-right: 5px;
  text-align: right;
}

.party-card-title-text {
  margin: 5px 0;
  font-size: 0.7rem;
  line-height: 14px;

  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 60px;
  direction: rtl;
}

.party-card-header img {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  object-fit: cover;
}

.party-card-prices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 7px;
  width: 100%;
}

.party-card-prices p {
  font-size: 0.7rem;
}

.party-card-old-price {
  color: #888888;
  text-decoration: line-through;
  text-decoration-color: rgb(255, 98, 98);
}

.party-card-action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 17px;
  margin-top: 6px;
}

.party-card-action button {
  width: 50px;
  height: 19px;
  padding: 0;
  margin: 0;
  font-size: 0.5rem;
}

.party-card-action p {
  width: 46px;
  height: 15px;
  font-size: 7px;
  text-align: center;
  background: #f7fff7;
  border: 0.5px solid #bbbbbb;
  color: #9c9c9c;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: default;
}

.party-card-splitter {
  width: 125px;
  border-bottom: 1px dashed #c3c3c3;
  margin-top: 6px;
}

.party-card-restaurant {
  flex: 1;
  font-size: 0.5rem;
  color: #7e7e7e;
  text-align: center;
}
