// Ellipsis

$diameter: 10px;
$duration: 0.7s;
$bezier: ease-in-out;

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70px;
}

.circle {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  transform: scale(0);
}

.circle-1 {
  background-color: #ffad00;
  animation: key-ellipsis-scaler $duration $bezier infinite alternate;
}
.circle-2 {
  background-color: #da4445;
  animation: key-ellipsis-scaler $duration $bezier 0.1s infinite alternate;
}
.circle-3 {
  background-color: #60c102;
  animation: key-ellipsis-scaler $duration $bezier 0.2s infinite alternate;
}
.circle-4 {
  background-color: #0096e3;
  animation: key-ellipsis-scaler $duration $bezier 0.3s infinite alternate;
}

@keyframes key-ellipsis-scaler {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
