.home-container {
  width: 100%;
  min-height: 100%;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #f7fff7;
  overflow-y: auto;
}

.home-header {
  width: 100%;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.home-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.home-cover-color {
  width: 100%;
  height: 100%;
  background: #ff636393;
  position: absolute;
  top: 0;
  left: 0;
}

.home-header-logo {
  width: 72px;
  min-height: 72px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgb(75, 75, 75);
  margin-top: 22px;
}

.home-header-text {
  color: white;
  z-index: 10;
  text-shadow: 1px 1px 2px rgb(44, 44, 44);
  margin-top: 15px;
}

.home-search-box {
  width: 340px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  margin-top: 30px;
  box-shadow: 0 0 3px 1px rgba(75, 75, 75, 0.575);
  background: white;
  border-radius: 5px;
}

.home-search-input {
  text-align: center;
  width: 115px;
  height: 30px;
  margin-left: 8px;
  background: #f3f3f3;
  font-size: 0.8rem;
}

.home-restaurants-title-box {
  position: relative;
  display: flex;
}

.home-section-title {
  color: #1a535c;
  margin-top: 35px;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-title-underline {
  width: 120px;
  height: 2px;
  margin-top: 7px;
  background: #1a535c;
}

.home-title-underline.long {
  width: 160px;
}

.foodparty-box {
  width: 100%;
  height: 140px;
  margin-top: 10px;
  box-shadow: 0 1px 4px 1px rgba(75, 75, 75, 0.459);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.foodparty-timer {
  width: 100px;
  height: 22px;
  background: #f2fdff;
  color: #588389;
  border: 1px solid #588389;
  font-size: 0.6rem;
  border-radius: 5px;
  margin-top: 10px;
}

.home-restaurants {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-left: 20px;
}

.rest-card {
  width: 110px;
  height: 130px;
  border-radius: 5px;
  box-shadow: 0 1px 3px 1px rgba(75, 75, 75, 0.411);
  background: white;
  padding: 10px;
  margin: 15px 20px 0 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rest-card img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 12px;
}

.rest-card p {
  margin-bottom: 8px;
  font-size: 0.5rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 10px;

  direction: rtl;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 110px;
}

.rest-card button {
  width: 60px;
}

.show-more-btn {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-size: 0.85rem;
  border: 2px solid #588389;
  color: #588389;
}

.no-restaurants {
  margin: auto;
  font-size: 1.2rem;
  color: #999999;
}
