.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: white;
  height: 37px;
  width: 100%;
}

.left-nav-links {
  height: 100%;
  display: flex;
  background: white;
}

.left-nav-links a {
  text-decoration: none;
  display: block;
  color: #1a535c;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.left-nav-links a:hover {
  color: white;
  background: #4ecdc4;
}

.left-nav-links a.exit {
  padding-left: 38px;
  color: #ff6b6b;
  font-size: 0.8rem;
}

.left-nav-links a.profile {
  font-size: 0.8rem;
}

.left-nav-links a.cart {
  font-size: 1.1rem;
  position: relative;
}

.nav-cart-badge {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4ecdc4;
  color: white;
  font-size: 0.5rem;
  top: 6px;
  right: 3px;
  padding-top: 3px;
}

.left-nav-links a.exit:hover {
  color: white;
  background: #ff6b6b;
}

.home-link {
  padding: 0 38px 0 6px;
  height: 100%;
}

.home-link:hover {
  background: #ff6b6b;
}

.home-link img {
  width: 31px;
  height: 31px;
}

.footer {
  background: #1a535c;
  width: 100%;
  min-height: 36px;
  color: #f7fff7;
  direction: rtl;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-blue {
  margin: 3%;
  background: #4ecdc4;
  color: white;

  border-radius: 0.4rem;
  border: 2px solid #ffffff;
}

.submit-blue:hover {
  background: #39877e;
  color: white;
}

.submit-blue:focus {
  background: #244c43;
  color: white;
}

.submit-yellow {
  font-weight: bold;
  padding: 2% 5%;

  background: #ffe66d;
  color: #1a535c;
  font-size: 0.6rem;
  border-radius: 4px;
  box-shadow: 0 1px 1.4px 0.3px #3533336b;
}

.submit-yellow:hover {
  background: #e4cd5a;
}

.submit-yellow:focus {
  background: #88743e;
  color: white;
}

.title-underline {
  margin: 10% -15% 20%;

  border-radius: 0.5rem;
  background: #1a535c;
  border: 0.9px solid #bfbfbf;
}

.submit-yellow:disabled,
.submit-yellow:disabled:hover {
  color: black;
  background: #e5e5e5;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  width: 100%;
  height: 100%;
}
