.app {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  width: 100%;
  height: 100%;
}

.submit-blue {
  margin: 3%;
  background: #4ecdc4;
  color: white;

  border-radius: 0.4rem;
  border: 2px solid #ffffff;
}

.submit-blue:disabled {
  background: #c4c4c4;
  color: white;
}

.submit-blue:hover:enabled {
  background: #39877e;
  color: white;
}

.submit-blue:focus {
  background: #244c43;
  color: white;
}

.submit-yellow {
  font-weight: bold;
  padding: 2% 5%;

  background: #ffe66d;
  color: #1a535c;
  font-size: 0.6rem;
  border-radius: 4px;
  box-shadow: 0 1px 1.4px 0.3px #3533336b;
}

.submit-yellow:hover {
  background: #e4cd5a;
}

.submit-yellow:focus {
  background: #88743e;
  color: white;
}

.title-underline {
  margin: 10% -15% 30%;

  border-radius: 0.5rem;
  background: #1a535c;
  border: 1px solid #bfbfbf;
}

.submit-yellow:disabled,
.submit-yellow:disabled:hover {
  color: black;
  background: #e5e5e5;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.no-shadows {
  box-shadow: none;
}

.star-icon {
  direction: rtl;
  display: flex;
  flex-flow: row nowrap;
}

.star-icon svg {
  width: 7px;
  height: 7px;
  margin-right: 3px;
}

.star-icon p {
  font-weight: lighter;
  font-size: 9px;
  color: #1a535c;
}

.no-select {
  user-select: none;
}
