.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7fff7;
}

.signup-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #f15f5f;
  height: 37px;
  width: 100%;
}

.signup-nav .login {
  height: 100%;
  padding-right: 8px;
  padding-left: 38px;
  color: #f7fff7;
}

.signup-nav .login:hover {
  color: #f15f5f;
  background: #f7fff7;
}

.signup-nav .home-link:hover {
  background: #f7fff7;
}

.signup-body {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.signup-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 10;
  border: 9px solid #f7fff7;
}

.signup-panel {
  width: 400px;
  height: 340px;
  margin-top: -55px;
  padding-top: 40px;
  border-radius: 25px;
  background: #f15f5f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-input {
  height: 35px;
  width: calc(100% - 50px);
  background: #f7fff7;
  margin-bottom: 17px;
  border-radius: 50px;
}

.signup-button {
  width: 175px;
  height: 55px;
  margin-top: -27px;
  background: #f15f5f;
  color: white;
  font-size: 1.1rem;
  border-radius: 20px;
  border: 6px solid #f7fff7;
}

.signup-button:hover {
  background: #aa3c3c;
  color: white;
}

.pass-divider {
  width: 100%;
  height: 3px;
  background: #bd4141e0;
  margin-bottom: 17px;
}
