.login-panel {
  height: 250px;
  padding-top: 20px;
}

.google-signin {
  margin-top: 30px;
  min-height: 50px;
}

.abcRioButton {
  border-radius: 10px !important;
}

.abcRioButtonIcon {
  border-radius: 10px 0 0 10px !important;
}
