.profile-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 37px;
}

.profile-header {
  min-height: 105px;
  width: 100%;
  background: #ff6b6b;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.profile-header-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: -8px;
}

.profile-header-contact-text {
  max-height: 20px;
  font-size: 0.8rem;
  margin-bottom: 8px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-header-contact-text span {
  margin-left: 10px;
  font-size: 1rem;
}

.profile-header-name {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header-name span {
  font-size: 2.7rem;
  margin-left: 10px;
}

.profile-body {
  flex: 1;
  width: 100%;
  background: #f7fff7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-tabs {
  width: 350px;
  height: 50px;
  margin-top: 50px;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 1px #2524246b;
  z-index: 10;
}

.tabs-divider {
  position: absolute;
  left: calc(50% - 1px);
  height: 50px;
  border-right: 2px dashed #ff6b6b;
  z-index: 20;
}

.tab-normal {
  background: white;
  color: #161616;
  min-width: 50%;
}

.tab-selected {
  background: #ff6b6b;
  color: white;
  min-width: 50%;
}

.tab-normal:hover {
  background: #f3f0f0;
}

.tab-selected:hover {
  background: #db5959;
  color: white;
}

.body-panel {
  width: 515px;
  border-radius: 25px;
  border: 1px solid #2221215d;
  background: white;
  margin: -25px 0 25px;
  padding-top: 22px;
}

.charge-panel {
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orders-panel {
  min-height: 100px;
  padding: 25px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.charge-button {
  width: 115px;
  height: 33px;
  background: #4ecdc4;
  color: white;
  font-size: 0.9rem;
}

.charge-button:hover {
  background: #42afa8;
  color: white;
}

.charge-input {
  width: 220px;
  height: 33px;
  margin-left: 20px;
  background: #f3f3f3;
}

.charge-input:hover {
  background: #f3f3f3;
}

.order-item {
  width: calc(100% - 80px);
  height: 37px;
  background: #fbfbfb;
  margin-top: 20px;
  border: 1px solid #2221215d;
  border-radius: 8px;
  display: flex;
}

.order-item-status {
  width: 173px;
}

.order-item-name {
  flex: 1;
  border: 1px solid #2221215d;
  border-top: none;
  border-bottom: none;
  font-size: 0.85rem;
  text-align: center;
}

.order-item-row {
  width: 47px;
}

.orders-empty {
  height: 100%;
  font-size: 0.9rem;
  color: #999999;
  margin-top: 25px;
}

.status-delivering {
  width: 77px;
  height: 20px;
  background: #cdffc7;
  color: #307428;
  font-size: 0.6rem;
  border-radius: 4px;
}

.status-finding-delivery {
  width: 89px;
  height: 20px;
  background: #d2fffc;
  color: #44807b;
  font-size: 0.6rem;
  border-radius: 4px;
}
