.close-btn {
  position: absolute;
  top: 40px;
  right: -40px;
  width: 22px;
  height: 22px;
  background: #e6494f;
  border-radius: 50%;
  padding: 0;
  color: white;
}

.close-btn:hover {
  background: #ca3f44;
  color: white;
}

.close-icon {
  font-size: 1.2rem !important;
}
