.signup-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0000009e;
}

.signup-body {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.signup-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 10;
  border: 9px solid #f7fff7;
}

.signup-panel {
  width: 400px;
  height: 485px;
  margin-top: -55px;
  padding-top: 40px;
  border-radius: 25px;
  background: #f15f5f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-background {
  z-index: -10;
}

.signup-title {
  width: calc(100% - 50px);
  text-align: right;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.signup-title.short {
  width: calc(50% - 6px);
}

.signup-input {
  height: 35px;
  width: calc(100% - 50px);
  background: #f7fff7;
  margin-bottom: 17px;
  border-radius: 50px;
  text-align: right;
}

.signup-input::placeholder {
  color: #4950578e;
}

.signup-input.short {
  width: calc(50% - 6px);
}

.signup-name-title {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-name-inputs {
  width: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.signup-button {
  width: 175px;
  height: 55px;
  margin-top: -27px;
  background: #f15f5f;
  color: white;
  font-size: 1.1rem;
  border-radius: 20px;
  border: 6px solid #f7fff7;
}

.signup-button:hover {
  background: #aa3c3c;
  color: white;
}

.pass-divider {
  width: 100%;
  height: 3px;
  background: #562020bf;
  margin-bottom: 17px;
}
