@import './setup/fonts/vazir-fonts/fonts.css';
@import './setup/icons/flaticon.css';
@import './setup/reset.css';

body {
  margin: 0;
  font-family: Vazir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background: #818181;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 44, 44, 0.774);
}
