.cart-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: white;
}

.cart-header {
  font-size: 13px;
  font-weight: bold;
  margin: 7% 0;
}

.cart-body {
  padding: 5% 0 5%;

  width: 180px;
  max-height: 270px;
  overflow-y: auto;
  background: white;
  margin-bottom: 10%;
  line-height: 30px;
  color: #1a535c;

  border-radius: 1.1rem;
  border: 2px dashed #e3e3e3;

  direction: rtl;
}

.cart-item {
  width: 100%;
  padding: 0 20px;
  font-size: 13px;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}

.cart-item p {
  line-height: 21px;
  margin-left: 3px;
  direction: rtl;
  text-align: right;
}

.cart-item-line {
  margin: 0 10% 4%;
  border: 0.5px solid #bfbfbfbb;
}

.change-food-counter {
  direction: rtl;
  display: flex;
  flex-flow: column wrap;
}

.cart-counter {
  width: 52px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-price {
  font-size: 10px;
  direction: rtl;
  margin-top: -8px;
  min-width: 55px;
}

.total-amount-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  direction: rtl;
  max-width: 200px;
}

.total-amount {
  font-weight: bold;
  margin-right: 5px;
}

.total-amount-box button {
  margin-top: 15px;
  margin-bottom: 0;
}

.cart-empty {
  height: 60px;
  font-size: 0.9rem;
  color: #999999;
}
