.navigator {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: white;
  height: 37px;
  width: 100%;
  box-shadow: 0 0 4px 2px rgba(75, 75, 75, 0.575);
  z-index: 100;
}

.left-nav-links {
  height: 100%;
  display: flex;
}

.left-nav-links span {
  text-decoration: none;
  display: block;
  color: #1a535c;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
}

.left-nav-links span:hover {
  color: white;
  background: #4ecdc4;
}

.left-nav-links span.exit {
  padding-left: 38px;
  color: #ff6b6b;
  font-size: 0.8rem;
}

.left-nav-links span.profile {
  font-size: 0.8rem;
}

.left-nav-links span.cart {
  font-size: 1.1rem;
  position: relative;
}

.nav-cart-badge {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #4ecdc4;
  color: white;
  font-size: 0.5rem;
  top: 6px;
  right: 3px;
  padding-top: 1px;
}

.left-nav-links span.exit:hover {
  color: white;
  background: #ff6b6b;
}

.home-link {
  padding: 0 38px 0 6px;
  height: 100%;
  cursor: pointer;
}

.home-link:hover {
  background: #ff6b6b;
}

.home-link img {
  width: 31px;
  height: 31px;
}

.signup-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: #f15f5f;
  height: 37px;
  width: 100%;
}

.signup-nav .login {
  height: 100%;
  padding-right: 8px;
  padding-left: 38px;
  color: #f7fff7;
}

.signup-nav .login:hover {
  color: #f15f5f;
  background: #f7fff7;
}

.signup-nav .home-link:hover {
  background: #f7fff7;
}
