.food-details {
  width: 360px;
  min-height: 210px;
  border-radius: 15px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
  padding-bottom: 0 !important;
}

.food-details-restaurant {
  margin-top: 7px;
  font-size: 1.3rem;
}

.food-details-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  margin-top: 13px;
  padding-right: 10px;
}

.food-details-body img {
  width: 95px;
  height: 95px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 1px 3px 1px rgba(75, 75, 75, 0.411);
}

.food-details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.food-details-name {
  display: flex;
  align-items: flex-start;
  text-align: right;
}

.food-details-name-text {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.1rem;
  line-height: 21px;
  max-width: 140px;
}

.food-details-description {
  color: rgb(141, 141, 141);
  margin-top: 10px;
  font-size: 0.8rem;
  line-height: 15px;
  text-align: right;
}

.details-star {
  display: flex;
  margin-top: 10px;
}

.details-star svg {
  width: 15px;
  height: 15px;
}

.details-star p {
  font-weight: lighter;
  font-size: 20px;
  color: #1a535c;
  margin-right: 5px;
}

.food-details-prices {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

.food-details-old-price {
  color: #888888;
  text-decoration: line-through;
  text-decoration-color: rgb(255, 98, 98);
  text-decoration-thickness: 3px;
  margin-left: 10px;
}

.food-details-splitter {
  width: 360px;
  border-bottom: 1px dashed #b6b6b6;
  margin-top: 13px;
}

.food-details-footer {
  width: 100%;
  min-height: 47px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-details-footer span {
  display: flex;
}

.food-details-footer button {
  width: 125px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 8px;
  margin-right: 10px;
}

.food-details-count {
  width: 75px;
  height: 24px;
  font-size: 0.8rem;
  text-align: center;
  background: #f7fff7;
  border: 0.5px solid #bbbbbb;
  color: #9c9c9c;
  border-radius: 7px;
  cursor: default;
}

.food-details-quantity {
  width: 52px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
